/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0; }

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */ }

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio; }

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default; }

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto; }

select:disabled {
  opacity: inherit; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0; }

legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto; }

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-variant-ligatures: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal; }

a, a:hover {
  text-decoration: none;
  color: #231815;
  transition: 0.5s; }

img {
  vertical-align: bottom;
  width: 100%;
  height: auto; }

.d-fl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.sp {
  display: none; }
  @media screen and (max-width: 768px) {
    .sp {
      display: block; } }

.pc {
  display: block; }
  @media screen and (max-width: 768px) {
    .pc {
      display: none; } }

.l-hd-inn-nav {
  padding: 10px 5%;
  background-color: #001c40;
  justify-content: space-between;
  align-items: center; }
  .l-hd-inn-nav-logo h1 a {
    font-size: 28px;
    font-weight: 700;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .l-hd-inn-nav-logo h1 a {
        font-size: 22px; } }
  .l-hd-inn-nav-desc h2 {
    font-size: 18px;
    color: #fab005;
    font-weight: 500; }

.l {
  background-color: #f0f1f3; }
  .l-mv-inn-content {
    max-width: 1000px;
    width: 90%;
    margin: 70px auto 120px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: 0.25s; }
    .l-mv-inn-content:hover {
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); }
    @media screen and (max-width: 768px) {
      .l-mv-inn-content {
        margin: 30px auto 50px; } }
    .l-mv-inn-content-ttl {
      background-color: #001c40;
      padding: 15px 25px; }
      .l-mv-inn-content-ttl h3 {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        text-align: center; }
        @media screen and (max-width: 768px) {
          .l-mv-inn-content-ttl h3 {
            font-size: 18px; } }
    .l-mv-inn-content-data {
      background-color: #fff;
      padding: 30px 50px; }
      @media screen and (max-width: 768px) {
        .l-mv-inn-content-data {
          padding: 25px 5%; } }
      .l-mv-inn-content-data .data-ttl {
        font-size: 20px;
        color: #001c40;
        font-weight: 700;
        margin-bottom: 15px; }
        @media screen and (max-width: 768px) {
          .l-mv-inn-content-data .data-ttl {
            font-size: 18px; } }
      .l-mv-inn-content-data .inst-field {
        margin-bottom: 30px; }
        .l-mv-inn-content-data .inst-field h3 .icon {
          font-size: 10px;
          vertical-align: middle; }
        .l-mv-inn-content-data .inst-field .sl-option {
          display: flex;
          gap: 15px 10px; }
          @media screen and (max-width: 768px) {
            .l-mv-inn-content-data .inst-field .sl-option {
              flex-wrap: wrap; } }
          .l-mv-inn-content-data .inst-field .sl-option li {
            width: 20%;
            padding: 10px;
            border: 2px solid #C4C4C4;
            border-radius: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center; }
            @media screen and (max-width: 768px) {
              .l-mv-inn-content-data .inst-field .sl-option li {
                width: 48%; } }
            .l-mv-inn-content-data .inst-field .sl-option li .cur {
              font-size: 16px;
              color: #C4C4C4; }
              @media screen and (max-width: 768px) {
                .l-mv-inn-content-data .inst-field .sl-option li .cur {
                  font-size: 14px; } }
            .l-mv-inn-content-data .inst-field .sl-option li .icon {
              color: #C4C4C4; }
            .l-mv-inn-content-data .inst-field .sl-option li.active {
              color: #001c40;
              border-color: #001c40;
              box-shadow: 0px 3px 0px #001c40; }
              .l-mv-inn-content-data .inst-field .sl-option li.active .cur {
                color: #001c40;
                font-weight: 700; }
              .l-mv-inn-content-data .inst-field .sl-option li.active .icon {
                color: #001c40; }
      .l-mv-inn-content-data .cus-field {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 25px;
        margin-bottom: 30px; }
        .l-mv-inn-content-data .cus-field h3 {
          color: #fab005;
          margin-bottom: 15px; }
        .l-mv-inn-content-data .cus-field-sl {
          gap: 0 25px;
          align-items: center; }
          @media screen and (max-width: 768px) {
            .l-mv-inn-content-data .cus-field-sl {
              flex-direction: column; }
              .l-mv-inn-content-data .cus-field-sl .icon {
                margin: 10px auto; } }
          .l-mv-inn-content-data .cus-field-sl .cus-cur {
            width: 25%;
            border: 1px solid #001c40;
            font-size: 16px;
            padding: 10px;
            text-align: center;
            font-weight: 500;
            border-radius: 5px; }
            @media screen and (max-width: 768px) {
              .l-mv-inn-content-data .cus-field-sl .cus-cur {
                width: 100%;
                font-size: 14px; } }
            .l-mv-inn-content-data .cus-field-sl .cus-cur p {
              font-size: 16px;
              font-weight: 700; }
        .l-mv-inn-content-data .cus-field.disable h3 {
          color: #C4C4C4; }
        .l-mv-inn-content-data .cus-field.disable .cus-cur {
          color: #C4C4C4;
          border-color: #C4C4C4;
          cursor: not-allowed; }
        .l-mv-inn-content-data .cus-field.disable .icon {
          color: #C4C4C4; }
      .l-mv-inn-content-data .user-input-ttl {
        justify-content: space-between; }
      .l-mv-inn-content-data .user-input .result {
        justify-content: space-between; }
        @media screen and (max-width: 768px) {
          .l-mv-inn-content-data .user-input .result {
            flex-direction: column; } }
        .l-mv-inn-content-data .user-input .result-calarea {
          width: 70%;
          gap: 15px 25px;
          align-items: flex-end; }
          @media screen and (max-width: 768px) {
            .l-mv-inn-content-data .user-input .result-calarea {
              flex-direction: column;
              width: 100%;
              padding-bottom: 20px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              margin-bottom: 20px; } }
          .l-mv-inn-content-data .user-input .result-calarea input {
            width: 35.72%;
            border: 1px solid #001c40;
            font-size: 16px;
            padding: 10px;
            text-align: right;
            font-weight: 700;
            border-radius: 5px; }
            @media screen and (max-width: 768px) {
              .l-mv-inn-content-data .user-input .result-calarea input {
                width: 100%; } }
          .l-mv-inn-content-data .user-input .result-calarea input[type=submit] {
            text-align: center;
            background-color: #001c40;
            color: #74c0fc;
            box-shadow: inset 0px -1px 0px #fff, 0px 3px 0px #001c40; }
            .l-mv-inn-content-data .user-input .result-calarea input[type=submit]:active {
              transform: translateY(1px);
              box-shadow: none; }
        .l-mv-inn-content-data .user-input .result-data .res-ttl {
          font-size: 18px;
          font-weight: 700; }
        .l-mv-inn-content-data .user-input .result-data h1 {
          font-size: 50px;
          font-weight: 700;
          text-align: right; }

.l-ft-inn {
  padding: 5px 0;
  background-color: #001c40; }
  .l-ft-inn-content h2 {
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: 700; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input:focus,
button:focus {
  outline: none; }

/*# sourceMappingURL=style.css.map */
